.city-image {
  height: 600px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 1200px) {
  .city-image {
    height: 450px;
  }
}

.container.form {
  margin-top: 50px;
}
